@model WebApplication9.Models.Reviewer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Reviewer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleInitial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleInitial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Affiliation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Affiliation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnalysisOfAlgorithms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnalysisOfAlgorithms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Applications)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Applications)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Architecture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Architecture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArtificialIntelligence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArtificialIntelligence)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComputerEngineering)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComputerEngineering)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Curriculum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curriculum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataStructures)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataStructures)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Databases)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Databases)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DistancedLearning)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistancedLearning)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DistributedSystems)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistributedSystems)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EthicalSocietalIssues)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EthicalSocietalIssues)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstYearComputing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstYearComputing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GenderIssues)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenderIssues)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrantWriting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrantWriting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GraphicsImageProcessing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GraphicsImageProcessing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HumanComputerInteraction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HumanComputerInteraction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaboratoryEnvironments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaboratoryEnvironments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Literacy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Literacy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MathematicsInComputing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MathematicsInComputing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Multimedia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Multimedia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NetworkingDataCommunications)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NetworkingDataCommunications)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NonMajorCourses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NonMajorCourses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObjectOrientedIssues)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObjectOrientedIssues)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperatingSystems)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperatingSystems)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParallelProcessing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParallelProcessing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pedagogy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pedagogy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProgrammingLanguages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgrammingLanguages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Research)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Research)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Security)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Security)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoftwareEngineering)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoftwareEngineering)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SystemsAnalysisAndDesign)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SystemsAnalysisAndDesign)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsingTechnologyInTheClassroom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsingTechnologyInTheClassroom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebAndInternetProgramming)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebAndInternetProgramming)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Other)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Other)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReviewsAcknowledged)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewsAcknowledged)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReviewerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
