@model IEnumerable<WebApplication9.Models.Paper>

@{
    ViewBag.Title = "Index";
}

<h2>Add a new paper</h2>

<p>
    @Html.ActionLink("Add", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FilenameOriginal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Filename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Certification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NotesToReviewers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnalysisOfAlgorithms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Applications)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Architecture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArtificialIntelligence)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ComputerEngineering)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Curriculum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataStructures)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Databases)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DistanceLearning)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DistributedSystems)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EthicalSocietalIssues)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstYearComputing)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GenderIssues)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GrantWriting)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GraphicsImageProcessing)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HumanComputerInteraction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LaboratoryEnvironments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Literacy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MathematicsInComputing)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Multimedia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NetworkingDataCommunications)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NonMajorCourses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ObjectOrientedIssues)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OperatingSystems)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParallelsProcessing)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pedagogy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProgrammingLanguages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Research)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Security)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoftwareEngineering)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SystemsAnalysisAndDesign)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsingTechnologyInTheClassroom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WebAndInternetProgramming)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Other)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtherDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FilenameOriginal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Filename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Certification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NotesToReviewers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnalysisOfAlgorithms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Applications)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Architecture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArtificialIntelligence)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComputerEngineering)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Curriculum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataStructures)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Databases)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DistanceLearning)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DistributedSystems)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EthicalSocietalIssues)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstYearComputing)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GenderIssues)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GrantWriting)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GraphicsImageProcessing)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HumanComputerInteraction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LaboratoryEnvironments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Literacy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MathematicsInComputing)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Multimedia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NetworkingDataCommunications)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NonMajorCourses)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ObjectOrientedIssues)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OperatingSystems)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParallelsProcessing)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pedagogy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProgrammingLanguages)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Research)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Security)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoftwareEngineering)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SystemsAnalysisAndDesign)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsingTechnologyInTheClassroom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WebAndInternetProgramming)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Other)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PaperID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PaperID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PaperID })
        </td>
    </tr>
}

</table>
